.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem 2rem;
  grid-template-areas:
    "name category"
    "description description"
    "price quantity"
    ". buttons";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.name,
.category,
.description,
.price,
.quantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: stretch;
}

.name {
  grid-area: name;
}
.category {
  grid-area: category;
}
.description {
  grid-area: description;
}
.price {
  grid-area: price;
}
.quantity {
  grid-area: quantity;
}

.inputStyles {
  background: var(--main-bg-light-clr);
  padding: 0.5rem;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  align-items: flex-end;
}

#description {
  display: inline-block;
  height: 3rem;
}
