.container {
  position: relative;
  background-color: var(--main-bg-light-clr);
  border: 2px black solid;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 22rem;
  max-height: 35rem;
  overflow-y: auto;
}

.category,
.location,
.status {
  padding-left: 1rem;
}

.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--unchecked-clr);
}
.checkBoxContainer input:checked ~ .checkMark {
  background-color: var(--logo-bg-clr);
}

.buttons:hover {
  transform: scale(1.1);
}
