.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 212px 1fr;
  grid-template-rows: 101px 1245px;
  grid-template-areas:
    "header header"
    "nav section";
}

.headerBar {
  grid-area: header;
  display: flex;
  background-color: var(--main-bg-clr);
  border: 1px black solid;
}

.navBarButton {
  /* grid-area: button; */
  background-color: var(--main-bg-clr);
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 23px;
  margin-left: 20px;
}

.hamburgerButton {
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 12.5px 0;
  margin-left: 10px;
}

.logo {
  /* grid-area: logo; */
  border: 1px black solid;
  margin-top: 30px;
}

.userNameBox {
  /* width: 141px; */
  height: 42px;
  /* grid-area: username; */

  border: 3px black solid;
  background-color: var(--main-bg-clr);
  box-sizing: border-box;
  border-radius: 60px;
  margin-top: 29px;
}

.userName {
  /* width: 82px; */
  /* height: 21px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  /* margin-top: 8px; */
  /* margin-left: 30px; */
}

.bellButton {
  /* grid-area: bell; */
  background-color: var(--main-bg-clr);
  border: none;
  height: max-content;
  margin-top: 34px;
}

.infoButton {
  /* grid-area: info; */
  height: max-content;
  border: none;
  background-color: var(--main-bg-clr);
  margin-top: 34px;
}

.navBar {
  font-family: "Roboto";
  justify-content: center;
  grid-area: nav;
  background-color: var(--main-bg-clr);
  border: 1px black solid;
  display: grid;
  grid-template-rows: 10% 11.5% 11.5% 11.5% 11.5%;
  grid-template-areas:
    "."
    "home"
    "inventory"
    "supplier"
    "report";
}

.homeButton {
  grid-area: home;
}

.inventoryButton {
  grid-area: inventory;
}

.supplierButton {
  grid-area: supplier;
}

.reportButton {
  grid-area: report;
}
.content {
  grid-area: section;
  height: 100%;
  background-color: var(--main-bg-light-clr);
}
