.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 212px 1fr;
  grid-template-rows: 101px 1fr;
  grid-template-areas:
    "header header"
    "nav section";
}

.headerBar {
  grid-area: header;
  display: flex;
  /* flex-wrap: wrap; */
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-clr);
  border: 1px black solid;
}

.leftHeader {
  display: grid;
  grid-template-columns: 20px 60px 60px 45px;
  grid-template-areas: ". hamButton . logo";
  justify-content: flex-end;
  align-items: center;
}

.rightHeader {
  display: flex;
  gap: 1rem;
  padding-right: 0.8rem;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.navBarButton {
  grid-area: hamButton;
  background-color: var(--main-bg-clr);
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.logo {
  grid-area: logo;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.userNameBox {
  display: grid;
  grid-area: nameBox;
  grid-template-columns: 30px 20px 30px;
  grid-template-areas: ". userName .";
  align-items: center;
}

.btn {
  border: 3px black solid;
  background-color: var(--main-bg-clr);
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  border-radius: 60px;
}

.logoutBtn {
  border: 3px black solid;
  background-color: var(--main-bg-clr);
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  border-radius: 60px;
  cursor: pointer;
}

.userName {
  grid-area: userName;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.bellButton {
  padding-top: 0.3rem;
  grid-area: bell;
  background-color: var(--main-bg-clr);
  border: none;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.infoButton {
  grid-area: question;
  padding-top: 0.3rem;
  background-color: var(--main-bg-clr);
  border: none;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.navBar {
  font-family: "Roboto";
  font-size: 110%;
  justify-content: center;
  grid-area: nav;
  background-color: var(--main-bg-clr);
  border: 1px black solid;
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 10% 11.5% 11.5% 11.5% 11.5%;
  grid-template-areas:
    "."
    "home"
    "inventory"
    "supplier"
    "report";
}

.homeButton {
  text-align: left;
  grid-area: home;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 30%;
  grid-template-areas: "logo text";
}
.gridImg {
  grid-area: logo;
}
.dashboard {
  grid-area: text;
  padding-left: 5%;
}

.inventoryButton {
  grid-area: inventory;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 50% 20%;
  grid-template-rows: 30%;
  grid-template-areas: "logo text img";
}
.boxImg {
  grid-area: logo;
}
.inventory {
  grid-area: text;
  padding-left: 5%;
}
.arrowImg {
  grid-area: img;
  padding-left: 5%;
}

.supplierButton {
  grid-area: supplier;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 30%;
  grid-template-areas: "logo text";
}
.usersImg {
  grid-area: logo;
}
.supplier {
  grid-area: text;
  padding-left: 5%;
}

.reportButton {
  grid-area: report;
  text-align: left;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 30%;
  grid-template-areas: "logo text";
}
.bookImg {
  grid-area: logo;
}
.report {
  grid-area: text;
  padding-left: 5%;
}
.content {
  grid-area: section;
  height: 100%;
}
