table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.mainHeading {
  font-size: 2rem;
}

.headerRow {
  height: 56px;
  background-color: rgba(10, 67, 47, 0.69);
}

.headerCell {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;

  width: 100px;
}

.dataRow {
  height: 45px;
  align-items: center;
}

.dataRow:nth-child(odd) {
  background-color: var(--main-bg-clr);
}

.dataRow:nth-child(even) {
  background-color: var(--main-bg-light-clr);
}

.dataCell {
  color: black;
  width: 100px;

  text-align: center;
}

.tableButton {
  cursor: pointer;
  border: none;
}

.dataRow:nth-child(odd) .tableButton {
  background-color: var(--main-bg-clr);
}

.dataRow:nth-child(even) .tableButton {
  background-color: var(--main-bg-light-clr);
}

.tableImg {
  size: auto;
}
