.btn {
  background: var(--main-bg-light-clr);
  border: 3px solid black;
  border-radius: 8px;
  padding: 0.3rem;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.btn:hover {
  transform: scale(1.1);
}
