.tableContainer {
  height: 100%;
  max-height: max(65vh, 500px);
  overflow-y: scroll;
}

.stickyHead {
  position: sticky;
  top: 0;
}
.dataRow {
  height: 45px;
  align-items: center;
}

.dataRow:nth-child(odd) {
  background-color: var(--main-bg-clr);
}

.dataRow:nth-child(even) {
  background-color: var(--main-bg-light-clr);
}

.headerRow {
  height: 56px;
  color: white;
  background-color: rgba(10, 67, 47);
}

.headerCell {
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
}

.dataCell {
  color: black;
  width: 100px;
  text-align: center;
}

.tableButton {
  cursor: pointer;
  border: none;
}

.dataRow:nth-child(odd) .tableButton {
  background-color: var(--main-bg-clr);
}

.dataRow:nth-child(even) .tableButton {
  background-color: var(--main-bg-light-clr);
}

.tableImg {
  size: auto;
}

.arrow {
  height: 1rem;
  width: auto;
  transition: transform 250ms;
}

.headerFlex {
  margin: auto;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Toggled styles */

.rotate {
  transform: rotate(180deg);
}

.activeArrow {
}
