*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  letter-spacing: 1px;
  line-height: 1.4;
}

:root {
  --main-bg-clr: #c4c4c4;
  --main-bg-dark-clr: #8c8c8c;
  --main-bg-light-clr: #e5e5e5;
  --main-font-clr: #000;
  --logo-bg-clr: #0a432f;
  --unchecked-clr: #b42929;
  --input-height: 2rem;
}

html,
body,
main {
  height: 100%;
  text-transform: capitalize;
}

textarea {
  resize: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
